p {
    color: pink;
}

Body {
    background-color: orange;
}
ol > li {
    color: navy;
}
.blue {
    color: royalblue;
    text-align: center;
}
#toDo {
    font-size: 24px;
    text-align: center;
}